<p>
  Sync folder with <strong>OneDrive</strong>
</p>
<ul>
  <li>Blot will create a folder for this site in your OneDrive.</li>
  <li>Blot will only have access to its own app folder, not the rest of your OneDrive.</li>
  <li>You can switch from OneDrive to another sync method at any time.</li>
</ul>

<p>Only personal Microsoft accounts (such as outlook.com or hotmail.com) are supported for now.</p>

<div class="buttons">
  <a href="{{{base}}}/redirect">Sync with OneDrive</a>
  <a href="{{{dashboardBase}}}/client">Cancel</a>
</div>
