<div id="template-list" style="padding-top: 2rem">
  <h2><a href="{{{dashboardBase}}}/template">Templates</a></h2>

  <div class="template-row {{newSelected}}">
    <a href="{{{dashboardBase}}}/template/new">
      <span
        class="preview"
        style="border:1px dashed #ccc;{{#newSelected}}border-color:var(--accent-color);{{/newSelected}}border-radius:3px;box-shadow: none;"
      >
      </span>Create template
    </a>
  </div>

  {{#yourTemplates}} {{> template-row}} {{/yourTemplates}}

  {{#templatesInYourFolder.length}}
    {{#templatesInYourFolder}} {{> template-row}} {{/templatesInYourFolder}}
  {{/templatesInYourFolder.length}}

  {{#blotTemplates.length}}
    <hr class="template-list-divider">
    {{#blotTemplates}} {{> template-row}} {{/blotTemplates}}
  {{/blotTemplates.length}}
  {{#pastTemplates}} {{> template-row}} {{/pastTemplates}}
</div>
