<div
  class="template-row row-action-menu-row {{#selected}}selected{{/selected}}"
  data-template-slug="{{slug}}"
  data-template-name="{{#localEditing}}{{slug}}{{/localEditing}}{{^localEditing}}{{name}}{{/localEditing}}"
  data-is-mine="{{#isMine}}true{{/isMine}}{{^isMine}}false{{/isMine}}"
  data-is-mirror="{{#isMirror}}true{{/isMirror}}{{^isMirror}}false{{/isMirror}}"
>
  <a href="{{{editURL}}}" class="template-row__link">
    <span class="preview" style="position: relative">
      {{#localEditing}}
      <span
        style="
          position: absolute;
          bottom: 0;
          right: -0;
          font-size: 16px;
          width: 16px;
          height: 16px;
        "
      >
        <span
          class="icon-folder"
          style="position: absolute; top: 0; left: 0"
        ></span>
      </span>
      {{/localEditing}}
    </span>

    <span
      class="template-row__name"
      style="flex:1 1 auto;min-width:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"
      >{{^localEditing}}{{name}}{{/localEditing}}{{#localEditing}}{{slug}}{{/localEditing}}</span
    >
    {{#checked}}
    <span
      class="template-row__installed"
      style="
        color: var(--success-text-color);
        background-color: var(--success-background-color);
        font-size: 10px;
        font-weight: bold;
        border-radius: var(--border-radius);
        padding: 2px 4px;
        margin-left: 6px;
      "
      >Installed</span
    >
    {{/checked}}
  </a>
  <button
    class="template-row__menu-trigger row-action-menu__trigger"
    type="button"
    data-editurl="{{{editURL}}}"
    data-previewurl="{{{previewMenuURL}}}"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <span class="icon-dots"></span>
  </button>
</div>
