<!DOCTYPE html>
<html lang="{{lang}}">
{{> head}}
<body>
    {{> navigation}}
    <main>
      <div class="entry">
      {{{entry.html}}}
      <div class="entry-meta">
        {{^hide_dates}}{{#entry.dateStamp}}<span class="entry-date">{{#entry}}{{#formatDate}}{{date_display}}{{/formatDate}}{{/entry}}</span>{{/entry.dateStamp}}{{/hide_dates}}
        {{#entry.tags.length}}
        <span class="entry-tags">{{#entry.tags}}<a href="/tagged/{{slug}}" title="Everything tagged {{name}}">{{name}}</a>{{/entry.tags}}</span>
        {{/entry.tags.length}}
      </div>
      {{#show_backlinks}}
      {{#entry.backlinks.length}}
      <br>
      <hr>
      <h4>Links to this page</h4>
      <p>
      {{#entry.backlinks}}
      <a href="{{{url}}}">{{title}}</a><br>
      {{/entry.backlinks}}
      </p>
      {{/entry.backlinks.length}}
      {{/show_backlinks}}
      </div>
    </main>
    {{> footer}}
</body>
</html>